body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #2E3440;
}

.square {
  background: #d8dee9;
  border: 1px solid black;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}




